.loaderContainer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #000;
  z-index: 1000;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.introDiv {
  /* border: 1px solid white; */
  height: 12rem;



  overflow: hidden;
}

.nameDiv {
  display: flex;
  column-gap: 1.5rem;
  font-size: 10vw;
  height: 12rem;
  color: var(--title-color);
  /* overflow: hidden; */
}

.secondName span {
  display: inline-block;
}

.firstName span {
  display: inline-block;
}

.specialDiv span {
  font-size: 6vw;
  text-align: center;
  text-transform: uppercase;
  height: 12rem;
  color: var(--title-color);

}

.loaderDiv {
  width: 450px;
  height: 1rem;
  border-radius: 20px;
  background-color: transparent;
  /* border: 1px solid white; */
  position: relative;
}

.loader {
  width: 0%;
  height: 100%;
  background: var(--title-color-dark);
  border-radius: 20px;
  position: absolute;
  top: 0;
  left: 0;
  animation: complete 3s ease-in-out;
}

@keyframes complete {
  0% {
    width: 0%;
  }

  30% {
    width: 30%;
  }

  50% {
    width: 70%;
  }

  100% {
    width: 100%;
  }

}


/* For medium devices */
@media screen and (max-width: 768px) {
 .nameDiv span{
  font-size: 13vw;
 }
 .specialDiv span{
  font-size: 8vw;
 }
}

@media screen and (max-width: 576px) {
  .nameDiv span{
    font-size: 15vw;
  }
  .specialDiv span{
    font-size: 9vw;
   }
}

/* For small devices */
@media screen and (max-width: 480px) {
  .loaderDiv{
    width: 80%;
    height: .8rem;
  }
  .introDiv{
    margin-left: -20px;
  }
 
}
@media screen and (max-width: 350px) {
  .nameDiv span{
    font-size: 12vw;
  }
  .specialDiv span{
    font-size: 8vw;
  }
}


.home {
  /* min-height: 100vh; */
  margin-top: 50px;
}

.home__container {
  row-gap: 7rem;
}

.home__content {
  grid-template-columns: 116px repeat(2, 1fr);
  padding-top: 5.5rem;
  column-gap: 2rem;
  align-items: center;
}

.home__social {
  display: grid;
  grid-template-columns: max-content;
  row-gap: 1rem;
}

.home__social-icon {
  font-size: 1.25rem;
  color: var(--title-color);
}

.home__social-icon:hover {
  color: var(--title-color-dark);
}

.home__title {
  font-size: 3rem;
  margin-bottom: var(---mb-0-25);
}

.home__subtitle {
  font-size: var(--h3-font-size);
  position: relative;
  padding-left: 5.4rem;
  font-weight: var(--font-normal);
  margin-bottom: var(--mb-1);
}

.home__subtitle::before {
  content: "";
  position: absolute;
  width: 70px;
  height: 1px;
  background-color: var(--text-color);
  left: 0;
  top: 1rem;
}

.home__hand {
  width: 30px;
  height: 30px;
  margin-left: 0.4rem;
}

.home__img {
  background: url(../../assets/profile.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  box-shadow: inset 0 0 0 9px rgb(255 255 255 / 30%);
  order: 1;
  justify-self: center;
  align-self: center;
  width: 300px;
  height: 300px;
  animation: profile__animate 8s ease-in-out infinite 1s;
}


.home__description {
  max-width: 400px;
  margin-bottom: var(--mb-3);
}

@keyframes profile__animate {
  0% {
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  }

  50% {
    border-radius: 30% 60% 70% 40%/50% 60% 30% 60%;
  }

  100% {
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  }
}

.home__scroll {
  margin-left: 31.25rem;
  margin-top: -80px;
}

.wheel {
  animation: scroll 2s ease infinite;
}

@keyframes scroll {
  0% {
    transform: translateY(0);
  }

  30% {
    transform: translateY(3.75rem);
  }
}

.home__scroll-name {
  color: var(--title-color);
  font-weight: var(--font-medium);
  margin-right: var(---mb-0-25);
  margin-left: 2px;
}

.home__scroll-arrow {
  font-size: 1.25rem;
  color: var(--title-color);
}

/*=============== BREAKPOINTS ===============*/
/* For large devices */
@media screen and (max-width: 992px) {
  .home {
    margin-top: 40px;
  }

  .home__title {
    font-size: 2.5rem;
  }

  .home__content {
    grid-template-columns: 100px repeat(2, 1fr);
    column-gap: 1.25rem;
  }

  .home__hand {
    width: 26px;
    height: 26px;
  }

  .home__subtitle {
    padding-left: 3.75rem;
    margin-bottom: var(--mb-1);
  }

  .home__subtitle::before {
    width: 42px;
    top: 0.8rem;
  }

  .home__description {
    max-width: initial;
    /* margin-bottom: var(--mb-2-25 */
    margin-bottom: 2rem;
  }

  .home__img {
    width: 250px;
    height: 250px;
    box-shadow: inset 0 0 0 8px rgb(255 255 255 / 30%);
  }

  .home__scroll {
    margin-left: 7.5rem;
  }
}

/* For medium devices */
@media screen and (max-width: 768px) {
  .home {
    margin-top: 0;
  }

  .home__content {
    grid-template-columns: 0.5fr 3fr;
    padding-top: 3.5rem;
  }

  .home__img {
    order: initial;
    justify-self: initial;
    place-self: center;
  }

  .home__data {
    grid-column: 1/3;
  }

  .home__img {
    box-shadow: inset 0 0 0 6px rgb(255 255 255 / 30%);
    width: 250px;
    height: 250px;
  }

  .home__scroll {
    display: none;
  }
}

/* For small devices */
@media screen and (max-width: 350px) {
  .home__img {
    width: 180px;
    height: 180px;
  }

  .home__hand {
    width: 22px;
    height: 22px;
  }
}